.icon {
    display: inline-block;
    height: 1em;
    width: 1em;
    fill: inherit;
    stroke: inherit;
}

.icon-arrow-toggle {
    font-size:(3)*1rem;
    width:(3 / 3)*1em;

}

.icon-arrowNext {
    font-size:(4)*1rem;
    width:(4 / 4)*1em;

}

.icon-arrowNextHover {
    font-size:(4)*1rem;
    width:(4 / 4)*1em;

}

.icon-arrowPrev {
    font-size:(4)*1rem;
    width:(4 / 4)*1em;

}

.icon-arrowPrevHover {
    font-size:(4)*1rem;
    width:(4 / 4)*1em;

}

.icon-bottom-banner {
    font-size:(24)*1rem;
    width:(24 / 24)*1em;

}

.icon-careers-create {
    font-size:(11)*1rem;
    width:(11 / 11)*1em;

}

.icon-careers-learn {
    font-size:(11)*1rem;
    width:(11 / 11)*1em;

}

.icon-careers-play {
    font-size:(10)*1rem;
    width:(10 / 10)*1em;

}

.icon-case-svg {
    font-size:(1.8)*1rem;
    width:(2 / 1.8)*1em;

}

.icon-circle-no {
    font-size:(4.4)*1rem;
    width:(4.4 / 4.4)*1em;

}

.icon-circle-yes {
    font-size:(4.4)*1rem;
    width:(4.4 / 4.4)*1em;

}

.icon-fb {
    font-size:(2)*1rem;
    width:(2 / 2)*1em;

}

.icon-funnel {
    font-size:(4.4)*1rem;
    width:(3.4 / 4.4)*1em;

}

.icon-in {
    font-size:(2)*1rem;
    width:(2 / 2)*1em;

}

.icon-letter-svg {
    font-size:(2.1)*1rem;
    width:(1.7 / 2.1)*1em;

}

.icon-location {
    font-size:(3)*1rem;
    width:(3 / 3)*1em;

}

.icon-logo-footer-white {
    font-size:(6)*1rem;
    width:(22.9 / 6)*1em;

}

.icon-logo-header {
    font-size:(4.9)*1rem;
    width:(20 / 4.9)*1em;

}

.icon-logo-small {
    font-size:(2.7)*1rem;
    width:(9.9 / 2.7)*1em;

}

.icon-logo-stone {
    font-size:(3.4)*1rem;
    width:(3 / 3.4)*1em;

}

.icon-mail {
    font-size:(3)*1rem;
    width:(3 / 3)*1em;

}

.icon-phone {
    font-size:(3)*1rem;
    width:(3 / 3)*1em;

}

.icon-quotes {
    font-size:(4.5)*1rem;
    width:(6 / 4.5)*1em;

}

.icon-social-behance {
    font-size:(3.8)*1rem;
    width:(3.2 / 3.8)*1em;

}

.icon-social-dribbble {
    font-size:(3.8)*1rem;
    width:(3.2 / 3.8)*1em;

}

.icon-social-facebook {
    font-size:(3.8)*1rem;
    width:(3.2 / 3.8)*1em;

}

.icon-social-github {
    font-size:(3.8)*1rem;
    width:(3.2 / 3.8)*1em;

}

.icon-social-linkedin {
    font-size:(3.8)*1rem;
    width:(3.2 / 3.8)*1em;

}

.icon-social-twitter {
    font-size:(3.8)*1rem;
    width:(3.2 / 3.8)*1em;

}

.icon-top2_1 {
    font-size:(20.1)*1rem;
    width:(27 / 20.1)*1em;

}

.icon-top2_2 {
    font-size:(20)*1rem;
    width:(27 / 20)*1em;

}

.icon-top2_3 {
    font-size:(20)*1rem;
    width:(27 / 20)*1em;

}

.icon-top2_4 {
    font-size:(20)*1rem;
    width:(27 / 20)*1em;

}

.icon-up {
    font-size:(1.2)*1rem;
    width:(2 / 1.2)*1em;

}

.icon-upload {
    font-size:(2.9)*1rem;
    width:(3.3 / 2.9)*1em;

}

.icon-user {
    font-size:(13)*1rem;
    width:(13 / 13)*1em;

}

.icon-video {
    font-size:(1.8)*1rem;
    width:(2.4 / 1.8)*1em;

}

.icon-why-how_1 {
    font-size:(16)*1rem;
    width:(17.8 / 16)*1em;

}

.icon-why-how_2 {
    font-size:(17.3)*1rem;
    width:(18.5 / 17.3)*1em;

}

.icon-why-how_3 {
    font-size:(18)*1rem;
    width:(18 / 18)*1em;

}

.icon-why-how_4 {
    font-size:(18.2)*1rem;
    width:(18.2 / 18.2)*1em;

}
